  <h1><%= foundpost.header %></h1>
  <li><%= foundpost.time %></li>
  <li><%= foundpost.content %></li>

  <div class="form-group" >
    <form form action="/posts/<%= foundpost.id %>" method="POST" class="post-comments">
      <div class="row">
        <div class="six columns">
          <input type="text" name="comment[name]" id="comment-name" placeholder="Your name" class="u-full-width">
        </div>
        <div class="six columns">
          <input type="text" name="comment[content]" id="posts-content" placeholder="Your comment" class="u-full-width">
        </div>
        <input type="submit" value='Comment'>
      </div>
  </form>
  </div>

  <% allComments.forEach(function(comment) { %>
    <li><%= comment.name %></li>
    <li><%= comment.content %></li>
  <% }) %>
